@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

body {
  font-size: 13px;
  line-height: 1.8;
  color: #222;
  background: #f8f8f8;
  font-weight: 400;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 100%;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 3rem;
}
a {
  color: #222;
}
.signup-content h2,
.signin-content h2 {
  font-size: 2rem;
}
.signup-image a,
.signin-image a {
  display: block;
  text-align: center;
}
.form-group {
  position: relative;
  margin-bottom: 16px;
}
.form-group small {
  display: block;
  font-size: 12px;
  width: 90%;
  margin-left: 25px;
  visibility: hidden;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  padding: 15px;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  width: 90%;
  border-radius: 5px;
  border: 2px solid rgb(218, 215, 215);
}
input[type="checkbox"] {
  position: absolute;
  top: 5px;
  left: 3px;
  cursor: pointer;
}
input::placeholder {
  opacity: 0.8;
  color: #999;
}
.label-agree-term {
  margin-left: 26px;
  cursor: pointer;
}
img {
  max-width: 100%;
  height: auto;
}
.form-submit {
  display: inline-block;
  background: #6dabe4;
  color: #fff;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  cursor: pointer;
  border: 0;
  margin-left: 5px;
  transition: all 0.4s;
}
.form-submit:hover {
  background: #4292dc;
}

@media screen and (min-width: 100px) {
  .container {
    padding: 30px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 3rem;
  }
  .signup-content {
    display: flex;
  }
  .signin-content {
    display: flex;
  }
  .signup-image {
    margin-top: 50px;
    margin-left: 40px;
  }
  .signin-form {
    width: 350px;
    margin-right: 30px;
  }
  .signup-form {
    width: 350px;
    margin-left: 32px;
  }
}
